@import 'bootstrap/bootstrap/index.styl'
@import 'vars.styl'

@font-face
	font-family Roboto
	src url(../fonts/Roboto-Regular.ttf)
@font-face
	font-family Roboto-Medium
	src url(../fonts/Roboto-Medium.ttf)
.divider
	margin-bottom -7px
	margin-top 10%
	position relative
	height 15px
	.left
	.right
		absolute top 7px
		width 47%
		height 2px
		background l-gray
	.left
		left 0
	.right
		right 0
	.inner
		width 15px
		height 15px
		background l-gray
		border-radius 50%
		position absolute
		left calc(50% - 7px)
h1
	text-align center
form
	font-size 1.5em
	margin-top 20%
	text-align center
	.btn
		margin-top 5%
