@import "bootstrap/bootstrap/index.styl"
@import "vars.styl"

*
	margin 0
	padding 0

html
body
	width 100%
	height 100%

.screen-1
	padding 2%
	height 100%
	background-image url(../images/bg.jpg)
	background-position 50% 50%
	background-repeat no-repeat
	background-size cover
	.header-info-left
		img
			width 18%
		span
			color white
			text-shadow 1px 1px 1px #262527
			margin-left 5%
			font-size 1.25em